<style>
  html {
      overflow-y:scroll;
  }
  #header {
      margin-top: 100px;
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: #fff;
      text-align: center;
      opacity: 0.9;
  }   
  #prices {
      background-color: #fff;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 80px;
      margin-bottom: 80px;
  }
  .each-price {
      font-style: italic;
      margin-bottom: 10px;
  }
  .plans-row {
      padding-bottom: 40px;
  }
  .feature-row {
      padding-top: 20px;
      padding-bottom: 20px;
  }
  .feature-list {
      display: none;
  }
  @media (max-width: 500px) {
      .feature-col {
          display: none;
      }
      .feature-comparison {
          display: none;
      }
      .feature-item {
          padding-top: 20px;
          padding-bottom: 20px;
      }
      .feature-list {
          display: block;
      }
  }
</style>
<div class="container col-md-4 rounded" id="header">
  <div>
      <div>
          <h1>Pricing</h1>
          <div>
              Integer elementum purus vehicula elit vestibulum consequat. Nulla a tempus erat. Donec auctor tellus nulla, et ullamcorper elit vehicula sed. Aenean ultricies scelerisque scelerisque.
          </div>
      </div>
  </div>
</div>
<div class="container rounded" id="prices">
  <div class="feature-comparison">
      <div class="row plans-row">
          <div class="col feature-col">                    
          </div>
          <div class="col">
              <h1>Starter</h1>
              <div class="each-price">Free</div>
              <button class="btn btn-primary">Book Now</button>
          </div>
          <div class="col">
              <h1>Cozy</h1>
              <div class="each-price">$12.99</div>
              <button class="btn btn-primary">Book Now</button>
          </div>
          <div class="col">
              <h1>Premium</h1>
              <div class="each-price">$49.99</div>
              <button class="btn btn-primary">Book Now</button>
          </div>
      </div>
      <div class="row feature-row">
          <div class="col">Feature #1</div>
          <div class="col">Yes</div>
          <div class="col">Yes</div>
          <div class="col">Yes</div>
      </div>
      <div class="row feature-row">
          <div class="col">Feature #2</div>
          <div class="col">Yes</div>
          <div class="col">Yes</div>
          <div class="col">Yes</div>
      </div>
      <div class="row feature-row">
          <div class="col">Feature #3</div>
          <div class="col">Yes</div>
          <div class="col">Yes</div>
          <div class="col">Yes</div>
      </div>
      <div class="row feature-row">
          <div class="col">Feature #4</div>
          <div class="col"></div>
          <div class="col">Yes</div>
          <div class="col">Yes</div>
      </div>
      <div class="row feature-row">
          <div class="col">Feature #5</div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col">Yes</div>
      </div>
      <div class="row feature-row">
          <div class="col">Feature #6</div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col">Yes</div>
      </div>
  </div>
  <div class="feature-list">
      <div>
          <h1>Starter</h1>
          <div class="each-price">Free</div>
          <button class="btn btn-primary">Book Now</button>
          <div class="feature-item">Feature #1</div>
          <div class="feature-item">Feature #2</div>
          <div class="feature-item">Feature #3</div>
      </div>
      <hr>
      <div>
          <h1>Cozy</h1>
          <div class="each-price">$12.99</div>
          <button class="btn btn-primary">Book Now</button>
          <div class="feature-item">Feature #1</div>
          <div class="feature-item">Feature #2</div>
          <div class="feature-item">Feature #3</div>
          <div class="feature-item">Feature #4</div>
      </div>
      <hr>                
      <div>
          <h1>Premium</h1>
          <div class="each-price">$49.99</div>
          <button class="btn btn-primary">Book Now</button>
          <div class="feature-item">Feature #1</div>
          <div class="feature-item">Feature #2</div>
          <div class="feature-item">Feature #3</div>
          <div class="feature-item">Feature #4</div>
          <div class="feature-item">Feature #5</div>
          <div class="feature-item">Feature #6</div>
      </div>
  </div>
</div>